.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(255, 234, 234), rgb(255, 244, 244));
}

.footer-getintouch {
  font-size: 50px;
  color: rgb(125, 124, 124);
  border-bottom: 3px solid rgba(82, 69, 69, 0.3);
  transition: 500ms;
  max-height: 165px;
}
.footer-getintouch h1 {
  margin-bottom: 0px;
}
.footer-getintouch:hover {
  -webkit-filter: blur(2px);
  transition: 500ms;
  cursor: pointer;
}

.footer-link {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 40%;
  color: rgb(125, 124, 124);
}

.footer-copyright h1 {
  margin: 5px 0px;
}
