body {
  font-family: Roboto, Arial;
  background-color: rgb(255, 244, 244);
}
a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(125, 124, 124);
}
.main-container {
  margin: auto;
  max-width: 80%;
  min-width: 500px;
}
p {
  text-decoration: none;
  font-weight: 700;
  color: rgb(125, 124, 124);
}
